/* src/App.css */
.App {
    text-align: center;
  }
  
  input {
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  